#!/bin/bash
#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                           IMPORTANT WARNING
#
#   This file is managed remotely by Ansible orchestration tool. Any local
#         changes will be overwritten !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

PYTHONPATH="/usr/local/bin"
