#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                           IMPORTANT WARNING
#
#   This file is managed remotely by Ansible orchestration tool. Any local
#         changes will be overwritten !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+
{% for filer_config in hm_warden_client__filers %}

#
# Warden filer {{ filer_config.domain }}: check certificate validity.
#
command[check_warden_cert_{{ filer_config.domain }}]={{ hm_monitored__plugins_dir }}/check_ssl_cert --host localhost --file {{ hm_warden_client__config_path }}/warden_filer_{{ filer_config.domain }}/cert.pem
	{% if filer_config.sender_enabled %}

#
# Warden filer {{ filer_config.domain }}: check sender status.
#
command[check_warden_sender_{{ filer_config.domain }}]={{ hm_monitored__plugins_dir }}/check_procs -c 1:1 -C warden_filer.py -a "/usr/bin/python /usr/local/bin/warden_filer.py -c {{ hm_warden_client__config_path }}/warden_filer_{{ filer_config.domain }}.cfg --pid_file /var/run/warden_filer/sender_{{ filer_config.domain }}.pid --daemon sender"
command[check_warden_sender_{{ filer_config.domain }}_errors_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ filer_config.sender_queue }}/errors -w {{ hm_warden_client__check_queue_dirs['w'] }} -c {{ hm_warden_client__check_queue_dirs['c'] }}
command[check_warden_sender_{{ filer_config.domain }}_incoming_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ filer_config.sender_queue }}/incoming -w {{ hm_warden_client__check_queue_size['w'] }} -c {{ hm_warden_client__check_queue_size['c'] }}
command[check_warden_sender_{{ filer_config.domain }}_temp_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ filer_config.sender_queue }}/temp -w {{ hm_warden_client__check_queue_dirs['w'] }} -c {{ hm_warden_client__check_queue_dirs['c'] }}
	{% endif %}
	{% if filer_config.receiver_enabled %}

#
# Warden filer {{ filer_config.domain }}: check receiver status.
#
command[check_warden_receiver_{{ filer_config.domain }}]={{ hm_monitored__plugins_dir }}/check_procs -c 1:1 -C warden_filer.py -a "/usr/bin/python /usr/local/bin/warden_filer.py -c {{ hm_warden_client__config_path }}/warden_filer_{{ filer_config.domain }}.cfg --pid_file /var/run/warden_filer/receiver_{{ filer_config.domain }}.pid --daemon receiver"
	{% endif %}

{% endfor %}
