#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Check certificate validity.
#
{{ hm_monitored__plugins_dir }}/check_ssl_cert --host localhost --file {{ hm_certified__cert_host_dir }}/warden.cert.pem | sed 's/:/ -/' | cut -f 1 -d \|;
{% if hm_warden_client__sender_enabled %}

#
# Check Warden client sender status.
#
{{ hm_monitored__plugins_dir }}/check_procs -c 1:1 -C warden_filer.py -a "/usr/bin/python /usr/local/bin/warden_filer.py -c /etc/warden_filer.cfg --pid_file /var/run/warden_filer/sender.pid --daemon sender" | sed 's/:/ -/' | cut -f 1 -d \|;
echo -n "SENDER ERRS - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_warden_client__sender_queue }}/errors -w {{ hm_warden_client__check_queue_dirs['w'] }} -c {{ hm_warden_client__check_queue_dirs['c'] }}
echo -n "SENDER INCM - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_warden_client__sender_queue }}/incoming -w {{ hm_warden_client__check_queue_size['w'] }} -c {{ hm_warden_client__check_queue_size['c'] }}
echo -n "SENDER TEMP - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_warden_client__sender_queue }}/tmp -w {{ hm_warden_client__check_queue_dirs['w'] }} -c {{ hm_warden_client__check_queue_dirs['c'] }}
{% endif %}
{% if hm_warden_client__receiver_enabled %}

#
# Check Warden client receiver status.
#
{{ hm_monitored__plugins_dir }}/check_procs -c 1:1 -C warden_filer.py -a "/usr/bin/python /usr/local/bin/warden_filer.py -c /etc/warden_filer.cfg --pid_file /var/run/warden_filer/receiver.pid --daemon receiver" | sed 's/:/ -/' | cut -f 1 -d \|;
{% endif %}
